@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";


@import "pages/home";







/* 
Global Reset: 
Resets margin, padding, and ensures consistent box-sizing for all elements.
*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}



html {
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark ;
    padding: 3rem;
    box-sizing: border-box;
}


.header {
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.8), 
        rgba($color-primary-dark, 0.8)
    ), url("../img//hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    



}



.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    padding-bottom: 6rem;


   &--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s ease-out;
   }


   &--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s ease-out;
   }
}



/* 
Animation: Move In from the Left
- Starts off invisible and moves from -100px left.
- Has a slight bounce effect at 80% before settling.
*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 
Animation: Move In from the Right
- Similar to `moveInLeft`, but starts from the right.
*/
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.btn {

&:link,
&:visited {
  
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 4rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;

  }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);


        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }


    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        border-radius: 4rem;
        transition: all 0.4s;
    }

   

   
    
    &--white {
        background-color: $color-white;
        color: $color-gray-dark;


        &::after {
            background-color: $color-white;
        }
    }
    




    
}






/* 
Button Entrance Animation:
- Fades in from below with a slight delay.
*/
@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 
Applies the Button Entrance Animation
- Runs for 0.5s with a 0.75s delay.
- `animation-fill-mode: backwards;` ensures it starts from an invisible state.
*/
.btn--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}
